# Python_ka_Chilla
## Python_Basics
### 01_first_program

In [1]:
print("It`s Dilshad raza, writing his first line of code in vscode")
print("I am the one who can complete this course.")
print("I am the best...!")

It`s Dilshad raza, writing his first line of code in vscode
I am the one who can complete this course.
I am the best...!

### 02_Operators

In [2]:
print(2+33) #addition operator
print(3*4) #multiplication operator
print(9/3)  #divide operators
print(9//3) #divide with no floating number operator
print(9%2)  #remainder operator
print((2+3),3+4*6**2/5//2%2)    #PEMDAS operators working
print(2**3)

print("Operators")

35
12
3.0
3
1
5 3.0
8
Operators

### 03_Strings
Strings are all the things written within the commas either single comma, double or may be tripple commas.

In [3]:
print('single "comma" string')  #single comma used when within string something is to be settle within double comma
print ("double 'comma' string") #double comma with single comma text inside

print    ('''tripple"commas" string''')    #tripple comma

print  ( " Dilshad`s strings")

single "comma" string
double 'comma' string
tripple"commas" string
 Dilshad`s strings

### 04_Comments
*Comments:*
used to remove the code-lines without actually removing them and also to give details about code lines
Command: Ctrl + /
or simply putting hash before the line

In [4]:
print("comments") #print a string
print("2+3") #print additoin operator function with numbers
#print("comments out")
print("commenting out is quite fun")

comments
2+3
commenting out is quite fun

### 05_Variables
objects containing specific values
Both numbers and strings are used as variables
integers can be variables
strings can be variables
Rules to assign variables or objecting variables
1- Letters, numbers, and underscores no space 
2- Cant start with numbers
3- no spaces in variable names
4- no reserved keywords of pythons can be used
5- short & descriptive
6- case-sensitive

In [5]:
x=4 #integer variable
y = "variables are objects containg some other value" #string variable
print (x) #show output x variable
print (y) #show output of y variables
x = 23 +4 #integer variable with operator addition
print(x) #show output of x
x = x+6 #integer variable with operator addition
print (x) #show output of x
#del x #delete value of x
#types of variables
print(type(x)) #show type of x variable
print(type(y)) #show variable of y variable

4
variables are objects containg some other value
27
33
<class 'int'>
<class 'str'>

### 06_input_variables

In [6]:
name =input("What is your name? ")
# greetings  = "Nice to see you here!"
# age = input("How old are you? ")
print("Hello!", name)
greetings  = "Nice to see you here!"
age = input("How old are you? ")
print("You are still young!",name)

What is your name? Dilshad
Hello! Dilshad
How old are you? 21
You are still young! Dilshad

### 07_Conditional_Logics
Logical operators are either yes or No, 1 or 0, true or false.
equal to operator                  ==
not equal to                       !=
less than                         <
greater than                      >
less than and equal to            <=
greater than and equal to         >=

In [7]:
print(5==5)
print(6!=4)
print(56<75)
print(66>66)
print(78<=90)
print(89>=67)

name= input("What is your name?" )
print("Hello!", name)
age = input("How old are you? ")
age = int (age)
min_age_school=4
print(age>=min_age_school)

True
True
True
False
True
True
What is your name?Dilshad
Hello! Dilshad
How old are you? 4
True

### 08_type_conversions

In [8]:
x = 4                #integer
y = 5.6              #float
z = "Hi"             #string
#implicit type conversion
print (x*y)
print (type(x*y))
print (type (x+y))
print (type(x/y))
print (type(z))
#Explicit type conversion
#one type of variable value can be converted to another.
x = float (x) #integer to floating number
y = int(y)      #floating number to integer
z = str (z)
print (type(str(z)))
print (x+y)
print (type(x*y))
print (type(x))

22.4
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
9.0
<class 'float'>
<class 'float'>

### 09_if_else_elif_statements
#### If_else_Statement

In [9]:
name = input("What is your name? ")
print("hello!", name)
age = input ("What is your age? ")
age = int(age)
min_age_req = 5

if age==min_age_req:
    print("Well, Its my pleasure to have you here in School", name)
else:
    print("Sorry, you are too young to join us...!")

What is your name? Dilshad
hello! Dilshad
What is your age? 5
Well, Its my pleasure to have you here in School Dilshad

#### if_elif_statement

In [10]:
cost_of_juice= 15
amount_paid = input("Amount Paid = ")
amount_paid = int (amount_paid)
if amount_paid == cost_of_juice:
    print("Thankyou for trying us...!")
elif amount_paid > cost_of_juice:
    x = amount_paid - cost_of_juice
    print(x,"rs your cashback")
elif amount_paid < cost_of_juice:
    y = cost_of_juice - amount_paid
    print(y,"rs more required to get you a glass of juice...!")
else:
    print ("sorry...!")

Amount Paid = 20
5 rs your cashback

### 10_functions

In [11]:
def print_ali():
    print("dilshad is learning well")
    print("wow")
    print("ali")
    
print_ali()
#0 2 method
def print_h():
    text = "wow"
    print (text)
print_h()

dilshad is learning well
wow
ali
wow

### 11_loops
##### While Loops

In [12]:
z = 1
while z < 7:
    print(z)
    z=z+1

1
2
3
4
5
6

##### For_Loops

In [13]:
for x in range (8,12):
    print(x)
x = ("Mon", "Tue", "Wed", "Thur", "Fri", "Sat", "Sun")
for h in x:
    print(h)

8
9
10
11
Mon
Tue
Wed
Thur
Fri
Sat
Sun

### 12_import_libraries

In [14]:
import math
print ("The value of pi is", math.pi,)

import statistics
x = [150, 250, 350, 450, 550, 650, 750, 850, 950]
print (statistics.multimode(x))

The value of pi is 3.141592653589793
[150, 250, 350, 450, 550, 650, 750, 850, 950]

### 13_trouble_shooting
#### syntax error: Language of python rules must be followed

In [15]:
Print("wow")

NameError: name 'Print' is not defined

#### runttime error: equipment error, input error etc

In [ ]:
print(25/0)

#### semantics error: unexpected results

In [1]:
semantics_error = "hard_to_find"
print("hello symantics error")

hello symantics error